# Add files names (and patterns) you want git to ignore here.

#VS Code
**/.vscode

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/

# Unnecessary json files and txt
**/recommender_utils/**/*.json
**/recommender_utils/**/*.txt

# Credentials
**/credentials
